# Tratamento de dados

In [54]:
import os
import re
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from datetime import datetime

### Statements

In [55]:
df_statements = pd.read_csv('statements.csv')

In [56]:
df_statements['Type'] = 'Statement'
df_statements["Date"] = df_statements["Data"].apply(pd.to_datetime, format='%Y-%m-%d %H:%M:%S.%f').dt.strftime('%Y/%m/%d')
df_statements.drop(['Data', 'Id', 'Titulo', 'DataAtualizacao', 'mostrarCabecalho', 'mostrarRodape'], axis=1, inplace=True)

In [57]:
df_statements.rename(columns={'Conteudo': 'Text'}, inplace=True)
df_statements.sort_values('Date', inplace=True)
df_statements.set_index('Date', inplace=True)

In [58]:
df_statements['Text'] = df_statements['Text'].apply(lambda x: BeautifulSoup(x, features="html.parser").get_text())

In [59]:
df_statements.head(5)

                                                         Text       Type
Date
2006/03/08   In the March Meeting, the Banco Central do Br...  Statement
2006/04/19   In the April Meeting, the Monetary Policy Com...  Statement
2006/05/31   In the May Meeting, the Monetary Policy Commi...  Statement
2006/07/19   In the July Meeting, the Copom unanimously de...  Statement
2006/08/30   In the August Meeting, the Copom unanimously ...  Statement

### Minutes

In [60]:
df_minutes = pd.read_csv('minutes.csv')

In [61]:
df_minutes['Type'] = 'Minutes'
df_minutes["Minutes_Date"] = df_minutes["data"].apply(pd.to_datetime).dt.strftime('%Y/%m/%d')
df_minutes["Date"] = df_minutes["DataReferencia"].apply(pd.to_datetime).dt.strftime('%Y/%m/%d')

In [62]:
df_minutes.drop(['data', 'DataReferencia', 'BoxDestaque', 'Edicao', 'EsconderCapa', 
                 'EsconderDataReferencia', 'Grafico', 'Id', 
                 'ImagemCapa', 'ImagemCapa', 'LinkPagina', 'Url',
                 'Volume', 'Volume', 'Introducao', 'conteudo', 'Titulo'], axis=1, inplace=True)

In [63]:
df_minutes.drop(['Minutes_Date'], axis=1, inplace=True)

In [64]:
df_minutes.rename(columns={'data': 'Date', 'DataReferencia': 'Meeting_Date', 'OutrasInformacoes': 'Text'}, inplace=True)
df_minutes.sort_values('Date', inplace=True)
df_minutes.set_index('Date', inplace=True)

In [65]:
df_minutes = df_minutes[df_minutes['Text'].notna()]

In [66]:
df_minutes['Text'] = df_minutes['Text'].apply(lambda x: BeautifulSoup(x, features="html.parser").get_text())

In [67]:
df_minutes.head(5)

                                                         Text     Type
Date
2020/08/05  1. Regarding the global outlook, the Covid-19 ...  Minutes
2020/09/16  A) Update of economic outlook and Copom’s base...  Minutes
2020/10/28  A) Update of economic outlook and Copom’s base...  Minutes
2020/12/09  A) Update of economic outlook and Copom’s base...  Minutes
2021/01/20  A) Update of economic outlook and Copom’s base...  Minutes

### Decisions

In [68]:
df_decisions = pd.read_csv('decisions.csv')

In [69]:
df_decisions.drop(['DataFimVigencia', 'DataInicioVigencia', 'TaxaSelicEfetivaAnualizada',
                 'TaxaSelicEfetivaVigencia', 'TaxaTban', 'UsoMetaSelic', 'ReuniaoExtraordinaria',
                 'Vies'], axis=1, inplace=True)

In [70]:
df_decisions["DataReuniaoCopom"] = df_decisions["DataReuniaoCopom"].apply(pd.to_datetime).dt.strftime('%Y/%m/%d')

In [71]:
df_decisions.rename(columns={'DataReuniaoCopom': 'Date', 
                             'MetaSelic': 'Selic', 
                             'NumeroReuniaoCopom': 'Meeting_Number'
                            }, inplace=True)

In [72]:
df_decisions = df_decisions[df_decisions['Date'] != 'NaT']

In [73]:
df_decisions.sort_values('Date', inplace=True)
df_decisions.set_index('Date', inplace=True)

In [74]:
i = 0
df_decisions['Decision'] = np.nan
df_decisions['Decision_txt'] = ''

In [75]:
for i in range(len(df_decisions)-1):
    df_decisions['Decision'].iloc[i+1] = df_decisions['Selic'].iloc[i+1]-df_decisions['Selic'].iloc[i]

C:\Users\ftrav\anaconda3\envs\pytorchenv\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [76]:
def decision_txt(num):
    if num == 0:
        return 'mantain'
    elif num >= 0:
        return 'increase'
    elif num <= 0:
        return 'decrease'
    else:
        return ''

In [77]:
for i in range(len(df_decisions)-1):
    df_decisions['Decision_txt'].iloc[i+1] = decision_txt(df_decisions['Decision'].iloc[i+1])

In [78]:
df_decisions.tail(5)

            Selic  Meeting_Number  Decision Decision_txt
Date
2022/10/26  13.75           250.0       0.0      mantain
2022/12/07  13.75           251.0       0.0      mantain
2023/02/01  13.75           252.0       0.0      mantain
2023/03/22  13.75           253.0       0.0      mantain
2023/05/03  13.75           254.0       0.0      mantain

### Merge columns

In [79]:
df1 = pd.merge(df_statements, df_minutes, how="outer", on=['Date', 'Text', 'Type'])

In [80]:
df1.sort_values('Date', inplace=True)

In [81]:
df1.head()

                                                         Text       Type
Date
2006/03/08   In the March Meeting, the Banco Central do Br...  Statement
2006/04/19   In the April Meeting, the Monetary Policy Com...  Statement
2006/05/31   In the May Meeting, the Monetary Policy Commi...  Statement
2006/07/19   In the July Meeting, the Copom unanimously de...  Statement
2006/08/30   In the August Meeting, the Copom unanimously ...  Statement

In [82]:
df = pd.merge(df_decisions, df1, how="outer", on=['Date'])

In [83]:
df

,Selic,Meeting_Number,Decision,Decision_txt,Text,Type
Date,,,,,,
1996/06/26,1.90,1.0,NaN,,NaN,NaN
1996/07/30,1.90,2.0,0.00,mantain,NaN,NaN
1996/08/21,1.88,3.0,-0.02,decrease,NaN,NaN
1996/09/23,1.82,4.0,-0.06,decrease,NaN,NaN
1996/10/23,1.78,5.0,-0.04,decrease,NaN,NaN
1996/11/27,1.74,6.0,-0.04,decrease,NaN,NaN
1996/12/18,1.70,7.0,-0.04,decrease,NaN,NaN
1997/01/22,1.66,8.0,-0.04,decrease,NaN,NaN
1997/02/19,1.62,9.0,-0.04,decrease,NaN,NaN
1997/03/19,1.58,10.0,-0.04,decrease,NaN,NaN
1997/04/16,1.58,11.0,0.00,mantain,NaN,NaN
1997/05/21,1.58,12.0,0.00,mantain,NaN,NaN
1997/06/18,1.58,13.0,0.00,mantain,NaN,NaN
1997/07/23,1.58,14.0,0.00,mantain,NaN,NaN
1997/08/20,1.58,15.0,0.00,mantain,NaN,NaN
1997/09/17,1.58,16.0,0.00,mantain,NaN,NaN
1997/10/22,1.00,17.0,-0.58,decrease,NaN,NaN
1997/10/30,3.05,18.0,2.05,increase,NaN,NaN
1997/11/19,2.90,19.0,-0.15,decrease,NaN,NaN
1997/12/17,38.00,20.0,35.10,increase,NaN,NaN
1998/01/28,34.50,21.0,-3.50,decrease,NaN,NaN
1998/03/04,28.00,22.0,-6.50,decrease,NaN,NaN
1998/04/15,23.25,23.0,-4.75,decrease,NaN,NaN
1998/05/20,21.75,24.0,-1.50,decrease,NaN,NaN
1998/06/24,21.00,25.0,-0.75,decrease,NaN,NaN
1998/07/29,19.75,26.0,-1.25,decrease,NaN,NaN
1998/09/02,19.00,27.0,-0.75,decrease,NaN,NaN
1998/09/10,19.00,28.0,0.00,mantain,NaN,NaN
1998/10/07,19.00,29.0,0.00,mantain,NaN,NaN
1998/11/11,19.00,30.0,0.00,mantain,NaN,NaN
...,...,...,...,...,...,...
2021/10/27,7.75,242.0,1.50,increase,A) Update of economic outlook and Copom’s base...,Minutes
2021/10/27,7.75,242.0,1.50,increase,"In its 242nd meeting, the Copom unanimously de...",Statement
2021/12/08,9.25,243.0,1.50,increase,A) Update of economic outlook and Copom’s base...,Minutes
2021/12/08,9.25,243.0,1.50,increase,"In its 243rd meeting, the Copom unanimously de...",Statement
2022/02/02,10.75,244.0,1.50,increase,A) Update of economic outlook and Copom’s refe...,Minutes
2022/02/02,10.75,244.0,1.50,increase,"​In its 244th meeting, the Copom unanimously d...",Statement
2022/03/16,11.75,245.0,1.00,increase,"​In its 245th meeting, the Copom unanimously d...",Statement
2022/03/16,11.75,245.0,1.00,increase,A) Update of economic outlook and Copom’s scen...,Minutes
2022/05/04,12.75,246.0,1.00,increase,"​In its 246th meeting, the Copom unanimously d...",Statement
2022/05/04,12.75,246.0,1.00,increase,A) Update of economic outlook and Copom’s scen...,Minutes
2022/06/15,13.25,247.0,0.50,increase,"In its 247th meeting, the Copom unanimously de...",Statement
2022/06/15,13.25,247.0,0.50,increase,A) Update of economic outlook and Copom’s scen...,Minutes
2022/08/03,13.75,248.0,0.50,increase,"In its 248th meeting, the Copom unanimously de...",Statement
2022/08/03,13.75,248.0,0.50,increase,A) Update of economic outlook and Copom’s scen...,Minutes
2022/09/21,13.75,249.0,0.00,mantain,A) Update of economic outlook and Copom’s scen...,Minutes
2022/09/21,13.75,249.0,0.00,mantain,"In its 249th meeting, the Copom decided to mai...",Statement
2022/10/26,13.75,250.0,0.00,mantain,"In its 250th meeting, the Copom decided to mai...",Statement
2022/10/26,13.75,250.0,0.00,mantain,A) Update of economic outlook and Copom’s scen...,Minutes
2022/12/07,13.75,251.0,0.00,mantain,"In its 251st meeting, Copom decided to maintai...",Statement
2022/12/07,13.75,251.0,0.00,mantain,A) Update of economic outlook and Copom’s scen...,Minutes
2023/02/01,13.75,252.0,0.00,mantain,A) Update of economic outlook and Copom’s scen...,Minutes
2023/02/01,13.75,252.0,0.00,mantain,"In its 252nd meeting, Copom decided to maintai...",Statement
2023/03/22,13.75,253.0,0.00,mantain,A) Update of economic outlook and Copom’s scen...,Minutes
2023/03/22,13.75,253.0,0.00,mantain,Since its previous meeting of the Monetary Pol...,Statement
2023/05/03,13.75,254.0,0.00,mantain,The global environment remains challenging. Th...,Statement
2023/05/03,13.75,254.0,0.00,mantain,A) Update of economic outlook and Copom’s scen...,Minutes
2012/06/12,NaN,NaN,NaN,NaN,The Copom released the following note to the ...,Statement
2012/08/30,NaN,NaN,NaN,NaN,The Copom released the following note to the ...,Statement
2017/04/18,NaN,NaN,NaN,NaN,​​The English version of the April Copom Minut...,Statement
2017/06/06,NaN,NaN,NaN,NaN,"​The English version of the May Copom Minutes,...",Statement