# Deep

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_copom = pd.read_csv('df_copom.csv')

In [3]:
df_copom.head()

,Date,Selic,Meeting_Number,Decision,Decision_txt,Text,Type
0,2006/03/08,16.50,117.0,-0.75,decrease,"In the March Meeting, the Banco Central do Br...",Statement
1,2006/04/19,15.75,118.0,-0.75,decrease,"In the April Meeting, the Monetary Policy Com...",Statement
2,2006/05/31,15.25,119.0,-0.50,decrease,"In the May Meeting, the Monetary Policy Commi...",Statement
3,2006/07/19,14.75,120.0,-0.50,decrease,"In the July Meeting, the Copom unanimously de...",Statement
4,2006/08/30,14.25,121.0,-0.50,decrease,"In the August Meeting, the Copom unanimously ...",Statement

In [3]:
"\u00C7", "\u0043", "\u0327", "\u0043\u0327"

('Ç', 'C', '̧', 'Ç')