# NLP

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_copom = pd.read_csv('df_copom_label.csv')

In [11]:
df_copom.head(1)

,Date,Selic,Meeting_Number,Decision,Decision_txt,label_hawk_dove,label_next_meet,Type,Text,num_words
0,2006/03/08,16.5,117.0,-0.75,decrease,dovish,decrease,Statement,"march meeting , banco central brasil 's moneta...",55.0

In [12]:
df = df_copom[df_copom['Type'] == 'Statement'].copy()

In [13]:
df.head(1)

,Date,Selic,Meeting_Number,Decision,Decision_txt,label_hawk_dove,label_next_meet,Type,Text,num_words
0,2006/03/08,16.5,117.0,-0.75,decrease,dovish,decrease,Statement,"march meeting , banco central brasil 's moneta...",55.0

In [14]:
df.shape

(136, 10)

### Split test and train

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = df.copy()
y = df['label_hawk_dove']

In [ ]:
#Perform train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2015)

In [ ]:
texts = X_train['Text'].tolist()
labels = y_train.tolist()

In [ ]:
texts[0][:100]

In [ ]:
labels[:5]

In [ ]:
len(texts), len(labels)

In [ ]:
seq_len = 512 # number of the tokens tokenizer will create
num_samples = len (texts)
num_samples, seq_len

### Convert labels to one-hot encoded vectors

In [ ]:
label_classes = list(set(labels))
num_classes = len(label_classes)

label_to_index = {label: index for index, label in enumerate(label_classes)}
index_to_label = {index: label for label, index in label_to_index.items()}

labels_encoded = np.array([label_to_index[label] for label in labels])
labels = np.eye(num_classes)[labels_encoded]

In [ ]:
label_to_index

In [ ]:
labels[:5]

In [ ]:
len(labels)

## Model