# Tratamento de dados

In [1]:
import os
import re
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from datetime import datetime

### Statements

In [2]:
df_statements = pd.read_csv('statements.csv')

In [3]:
df_statements['Type'] = 'Statement'
df_statements["Date"] = df_statements["Data"].apply(pd.to_datetime, format='%Y-%m-%d %H:%M:%S.%f').dt.strftime('%Y/%m/%d')
df_statements.drop(['Data', 'Id', 'Titulo', 'DataAtualizacao', 'mostrarCabecalho', 'mostrarRodape'], axis=1, inplace=True)

In [4]:
df_statements.rename(columns={'Conteudo': 'Text'}, inplace=True)
df_statements.sort_values('Date', inplace=True)
df_statements.set_index('Date', inplace=True)

In [5]:
df_statements['Text'] = df_statements['Text'].apply(lambda x: BeautifulSoup(x, features="html.parser").get_text())

In [6]:
df_statements.head(5)

                                                         Text       Type
Date
2006/03/08   In the March Meeting, the Banco Central do Br...  Statement
2006/04/19   In the April Meeting, the Monetary Policy Com...  Statement
2006/05/31   In the May Meeting, the Monetary Policy Commi...  Statement
2006/07/19   In the July Meeting, the Copom unanimously de...  Statement
2006/08/30   In the August Meeting, the Copom unanimously ...  Statement

### Minutes

In [7]:
df_minutes = pd.read_csv('minutes.csv')

In [8]:
df_minutes['Type'] = 'Minutes'
df_minutes["Minutes_Date"] = df_minutes["data"].apply(pd.to_datetime).dt.strftime('%Y/%m/%d')
df_minutes["Date"] = df_minutes["DataReferencia"].apply(pd.to_datetime).dt.strftime('%Y/%m/%d')

In [9]:
df_minutes.drop(['data', 'DataReferencia', 'BoxDestaque', 'Edicao', 'EsconderCapa', 
                 'EsconderDataReferencia', 'Grafico', 'Id', 
                 'ImagemCapa', 'ImagemCapa', 'LinkPagina', 'Url',
                 'Volume', 'Volume', 'Introducao', 'conteudo', 'Titulo'], axis=1, inplace=True)

In [10]:
df_minutes.drop(['Minutes_Date'], axis=1, inplace=True)

In [11]:
df_minutes.rename(columns={'data': 'Date', 'DataReferencia': 'Meeting_Date', 'OutrasInformacoes': 'Text'}, inplace=True)
df_minutes.sort_values('Date', inplace=True)
df_minutes.set_index('Date', inplace=True)

In [12]:
df_minutes = df_minutes[df_minutes['Text'].notna()]

In [13]:
df_minutes['Text'] = df_minutes['Text'].apply(lambda x: BeautifulSoup(x, features="html.parser").get_text())

In [14]:
df_minutes.head(5)

                                                         Text     Type
Date
2020/08/05  1. Regarding the global outlook, the Covid-19 ...  Minutes
2020/09/16  A) Update of economic outlook and Copom’s base...  Minutes
2020/10/28  A) Update of economic outlook and Copom’s base...  Minutes
2020/12/09  A) Update of economic outlook and Copom’s base...  Minutes
2021/01/20  A) Update of economic outlook and Copom’s base...  Minutes

### Decisions

In [15]:
df_decisions = pd.read_csv('decisions.csv')

In [16]:
df_decisions.drop(['DataFimVigencia', 'DataInicioVigencia', 'TaxaSelicEfetivaAnualizada',
                 'TaxaSelicEfetivaVigencia', 'TaxaTban', 'UsoMetaSelic', 'ReuniaoExtraordinaria',
                 'Vies'], axis=1, inplace=True)

In [17]:
df_decisions["DataReuniaoCopom"] = df_decisions["DataReuniaoCopom"].apply(pd.to_datetime).dt.strftime('%Y/%m/%d')

In [18]:
df_decisions.rename(columns={'DataReuniaoCopom': 'Date', 
                             'MetaSelic': 'Selic', 
                             'NumeroReuniaoCopom': 'Meeting_Number'
                            }, inplace=True)

In [19]:
df_decisions = df_decisions[df_decisions['Date'] != 'NaT']

In [20]:
df_decisions.sort_values('Date', inplace=True)
df_decisions.set_index('Date', inplace=True)

In [21]:
i = 0
df_decisions['Decision'] = np.nan
df_decisions['Decision_txt'] = ''

In [22]:
for i in range(len(df_decisions)-1):
    df_decisions['Decision'].iloc[i+1] = df_decisions['Selic'].iloc[i+1]-df_decisions['Selic'].iloc[i]

C:\Users\ftrav\anaconda3\envs\pytorchenv\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [23]:
def decision_txt(num):
    if num == 0:
        return 'mantain'
    elif num >= 0:
        return 'increase'
    elif num <= 0:
        return 'decrease'
    else:
        return ''

In [24]:
for i in range(len(df_decisions)-1):
    df_decisions['Decision_txt'].iloc[i+1] = decision_txt(df_decisions['Decision'].iloc[i+1])

### Merge columns

In [26]:
df1 = pd.merge(df_statements, df_minutes, how="outer", on=['Date', 'Text', 'Type'])

In [27]:
df1.sort_values('Date', inplace=True)

In [29]:
df = pd.merge(df_decisions, df1, how="outer", on=['Date'])

In [32]:
df = df[df['Selic'].notna()]

In [33]:
df = df[df['Text'].notna()]

In [35]:
df.head()

,Selic,Meeting_Number,Decision,Decision_txt,Text,Type
Date,,,,,,
2006/03/08,16.50,117.0,-0.75,decrease,"In the March Meeting, the Banco Central do Br...",Statement
2006/04/19,15.75,118.0,-0.75,decrease,"In the April Meeting, the Monetary Policy Com...",Statement
2006/05/31,15.25,119.0,-0.50,decrease,"In the May Meeting, the Monetary Policy Commi...",Statement
2006/07/19,14.75,120.0,-0.50,decrease,"In the July Meeting, the Copom unanimously de...",Statement
2006/08/30,14.25,121.0,-0.50,decrease,"In the August Meeting, the Copom unanimously ...",Statement

In [36]:
df.to_csv('df_copom.csv', index=True)